.bi-check-circle-fill:hover {
    color: green;
    cursor: pointer; 
  }
  .bi-star-fill:hover {
    color: yellow;
    cursor: pointer; 
  }
  .bi-trash-fill:hover {
    color: red;
    cursor: pointer; 
  }